torch>=2
torchaudio
numpy
scipy
einops
pyyaml
huggingface_hub
encodec==0.1.1

speechbrain<1.0
requests
fastprogress
fastcore
soundfile

vector_quantize_pytorch==1.6.22
openai-whisper
webdataset
wandb
whisperx@git+https://github.com/m-bain/whisperx.git
whisper_normalizer
jiwer
matplotlib
pandas
pyarrow
scikit-learn
ipython
